body, div, span, td, th,input, select, textarea{
	font-family: 'Malgun Gothic', sans-serif, "Dotum", "Gulim", "Arial";
	padding: 0px;
	font-size: 12px;
}
label{
	font-family: 'Malgun Gothic', sans-serif, "Dotum", "Gulim", "Arial";
	padding: 0px;
	margin:3px;
	font-size: 12px;
}
input, select, textarea {
    border:1px solid #B6B5DB;color:#002266;
    height: 22px;
}

a:link    {font-family: 'Malgun Gothic', sans-serif, "Dotum", "Gulim", "Arial";  color:#999999; text-decoration: none}
a:visited {font-family: 'Malgun Gothic', sans-serif,"Dotum", "Gulim", "Arial";  color:#999999; text-decoration: none}
input.text { margin-bottom:10px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
img{border:0;}

.d_ib{display: inline-block;}
.f_r{ float: right; }
.f_l{ float: left; }
.c_b{clear: both;}
.w_100{width:100%;}
.p_5{padding-bottom: 5px;}
.pb_5{padding-bottom: 5px;}
.pt_5{padding-top: 5px;}
.c_p{cursor: pointer;}
.o_h{overflow: hidden;}
.to_h{white-space:nowrap;}

table th {height:25px;}
table td {height:25px;}
table.bd {border-collapse: collapse; width: 100%; margin-top: 10px; margin-bottom: 5px;border-left:1px solid #cccccc;}
table.bd th {padding:3px; border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;border-top:1px solid #cccccc;background-color: #eeeeee;}
table.bd td {padding:1px;padding-left:3px; border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;}

.btn_sm {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/btn_action_silver.gif") repeat-x scroll 0 0 #F5F5F3;
    border-color: #CFC8C5 #CFC8C5 #96928F;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #aaaaaa;
    cursor: pointer;
    display:inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 10px 1px;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/btn_action_silver.gif") repeat-x scroll 0 0 #F5F5F3;
    border-color: #CFC8C5 #CFC8C5 #96928F;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #aaaaaa;
    cursor: pointer;
    display:inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px 4px;
}