<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="menu">
   	<select id="test"  parameterType="hashmap" resultType="hashmap">
  		 select *
  		 from sys_notice_file_m
  		
	</select>
   	<select id="test1"  parameterType="hashmap" resultType="hashmap">
  		 select *
  		 from sys_notice_file_m
  		
	</select>
	
</mapper>
